
<form action="/login" method="POST">
  <table border="0">
    <tbody>
      <tr>
        <td>username:</td>
        <td><input type="text" name="u" size="20" autocorrect="off" autocapitalize="off"></td>
      </tr>
      <tr>
        <td>password:</td>
        <td><input type="password" name="p" size="20"></td>
      </tr>
    </tbody>
  </table>
  <br>
  <input type="submit" value="login">
</form>

