<h3>Submit a New Post</h3>
<form action="/submit" method="POST">
  <table border="0">
    <tbody>
      <tr>
        <td>title:</td>
          <td>
            <input type="text" name="title" size="60" autocorrect="off" autocapitalize="off">
          </td>
      </tr>
      <tr>
        <td>url:</td>
          <td><input type="url" name="url" size="80"></td>
        </tr>
      </tbody>
    </table>
    <br>
    <input type="submit" value="submit">
</form>
